name: Shell

on: [push, pull_request]

jobs:
  build:
    name: Shell ${{ matrix.platform }}

    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: true
      matrix:
        platform: ['ubuntu-20.04']

    env:
      PLATFORM: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v2

    - name: Make directory
      shell: bash -l {0}
      run: |
          mkdir working

    - name: AWS_ACCESS_KEY_ID secret is in environment
      shell: bash -l {0}
      run: |
          source ../scripts/ci/shell/print-env.sh "AWS_ACCESS_KEY_ID"
      working-directory: ./working
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}

    - name: AWS_ACCESS_KEY_ID secret is not set
      shell: bash -l {0}
      run: |
          source ../scripts/ci/shell/print-env.sh "AWS_ACCESS_KEY_ID"
      working-directory: ./working


