name: "Check the weather "

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      STATIONID:
        description: "Where are we checking the weather"
        required: false
        default: KIOW


env:
  STATIONID: "KIOW"

jobs:
  build:
    name: Linux ${{ matrix.type }}

    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install AWS CLI
      shell: bash -l {0}
      run: |
          pip install awscli curl

    - name: Fetch the weather for ${{ env.STATIONID }}
      shell: bash -l {0}
      run: |
          curl -s wttr.in/${{ env.STATIONID }} --output weather

    - name: Upload the weather to S3
      shell: bash -l {0}
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      run: |
          aws s3 cp --content-type "text/plain; charset=utf-8" weather s3://gha-testing/weather-${{ github.event.inputs.STATIONID || env.STATIONID }} --acl public-read
          echo "Weather for ${{ github.event.inputs.STATIONID || env.STATIONID }} available at https://gha-testing.s3.amazonaws.com/weather-${{ github.event.inputs.STATIONID || env.STATIONID}}"
